/* Estilos generales */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  /* Estilos específicos */
  .mi3-componente {
    display: flex;
    margin: 70px 2px;;
  }
  
  .columna-izquierda {
    flex: 0 0 6%; /* Ajusta el tamaño de la columna izquierda según tus necesidades */
  }
  
  .columna-derecha {
    flex: 1;
    padding-left: 20px; /* Añade un poco de espacio a la izquierda si es necesario */
  }
  
  
  .texto-azul-centro {
    color: blue;
    text-align: center;
  }
  
  .botones-centro {
    display: flex;
    justify-content: center;
  
  }
  
  .contactanos-button {
    background-color: #221faf;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .nuestros-servicios {
    margin-top: 10px;
  }
  
  .texto-verde-container {
    color: green;
  }
  
  .texto-grande {
    font-size: 24px;
  }
  
  .texto-normal {
    font-size: 16px;
  }
  
  .texto-e-imagenes {
    display: flex;
    flex-direction: column;
  }
  
  .imagenes-lado-a-ladoo {
    display: flex;
    margin-left:  500px;
  }
  
  .imagen-contenedor1 {
    display: flex;
    flex-direction: column;
  }
  
  
  .imagen-contenedor2 {
    display: flex;
    flex-direction: row;
  }
  .imagen-grande {
    width: 100%;
    height: auto;
  }
  
  .imagen-centro1 {
    width: 120px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    padding: 1; /* Aplica el padding según tus necesidades */
  }
  
  .imagen-lado-a-lado1 {
    width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    padding: 1px; /* Aplica el padding según tus necesidades */
  }
  
  
  .imagen-lado-a-lado {
    width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto;
    padding: 1px; /* Aplica el padding según tus necesidades */
  }
  
  .conoce-mas {
    font-weight: bold;
  }
  
  .empresas-colaboradoras {
    font-weight: bold;
  }
  
  .casos-de-exito {
    font-weight: bold;
  }
  
  .texto-una-linea {
    white-space: nowrap;
  }
  
  .descubre-casos-exito {
    font-weight: bold;
  }
  
  .botones-navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton-circular {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .imagenes-casos-exito {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen-casos-exito {
    width: 25%;
    height: auto;
    margin: 0 10px;
  }
  
  .enfocamos-objetivos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagen-objetivo-grande {
    width: 50%;
    height: auto;
    margin-bottom: 1em;
  }
  
  .puntos-navegacion {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  .punto {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .punto.activo {
    background-color: #333;
  }
  .imagen-pequena {
    width: 50%; /* Ajusta el tamaño según tus necesidades */
    height: 50%;
  }
  
  
  .elipse {
    border-radius: 50% / 25%; /* Esto crea una elipse */
    transform: rotate(45deg); /* Rota la elipse 45 grados */
  }
  
  .micomponente-container {
  
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    overflow:hidden;
  }
  
  .circunferencia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    blackground-color: #f0f0f0;
    border-radius:  50%;
    overflow: hidden;
  }
  
  .micomponente-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f3f3f3;
  }
  
  .micomponente-wrapper {
    margin-top: 170px; /* Ajusta el valor según tus necesidades */
  }
  .texto-izquierda {
    max-width: 70ch; /* Ajusta el ancho máximo a 70 caracteres */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  .imagen-pequena1 {
    width: 10%; /* Ajusta el tamaño según tus necesidades */
    height: auto;
  }
  .conoce-mas-container {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }
  
  .conoce-mas-container .imagen-pequena {
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
  }
  .imagenes-dentro {
    display: flex;
    flex-direction: column; /* Alinea las imágenes en una columna */
    align-items: center; /* Centra las imágenes horizontalmente */
    margin-left: -50px; /* Ajusta el margen izquierdo según tus necesidades */
  }
  
  .imagenes-dentro img {
    margin-top: 10px; /* Ajusta el margen superior entre las imágenes según tus necesidades */
  }
  
  .imagenes-dentro {
    display: flex;
    flex-direction: column; /* Alinea las imágenes en una columna */
    align-items: center; /* Centra las imágenes horizontalmente */
    margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
  }
  
  .imagenes-dentro img {
    margin-top: 10px; /* Ajusta el margen superior entre las imágenes según tus necesidades */
  }
  .texto-e-imagen {
    display: flex;
    align-items: left;
  }
  
  .texto-e-imagen .texto-verde {
    flex: 1; /* Permite que el texto ocupe el espacio disponible */
  }
  
  .texto-e-imagen cho {
    margin-left:170px; /* Ajusta el margen izquierdo según tus necesidades */
    width: 550px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-top: -2cm;
  }
  
  .imagen-lado-derecho {
    margin-left:170px; /* Ajusta el margen izquierdo según tus necesidades */
    width: 550px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-top: -2cm;
    margin-right:60px;
    display: block;
  }
  .imagen-contenedor {
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
  }
  
  .imagen-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -80%);
    width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
  }
  
  .imagen-centro3 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-0%, -80%);
    width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: -40px;
  }
  
  .imagen-centro4 {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-80%, -80%);
    width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 30px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: 40px;
  }
  .imagen-independiente {
    position: absolute; /* Permite posicionar la imagen de forma independiente */
    top: 20px; /* Ajusta la posición vertical */
    left: 5px; /* Ajusta la posición horizontal */
  }
  
  .imagen-independiente img {
    width: -10px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 5px; /* Opcional: redondea las esquinas */
  }
  .imagen-pequena2 {
    width: 50%; /* Ajusta el tamaño según tus necesidades */
    height: 50%;
  }