
@import url('/node_modules/@fortawesome/fontawesome-free/css/all.min.css');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imagen-ejemplo {
  width: 300px;
  position: absolute;
  top: 250px;
  left: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .imagen-ejemplo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.parrafo-nuevo {
  color: red;
}

.texto-azul {
  color: rgb(46, 55, 236);
}

.texto-gris {
  color: rgb(153, 154, 171);
}

.texto-rojo {
  color: #e10808;
}

.texto-azul-centro {
  color: blue;
  text-align: center;
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold;
  margin-bottom: 10px; /* Espacio entre el título y el párrafo */
}

.columna-derecha {
  flex: 1;
}

.botones-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Espacio superior */
}

.filtros {
  display: flex;
  gap: 10px; /* Espacio entre los filtros */
}

.filtro {
  padding: 5px 15px;
  border: 2px solid #000;
  border-radius: 25px; /* Hace que el borde sea elipsoidal */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  cursor: pointer;
}

.imagen-lado-a-lado {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px; /* Ajusta el tamaño según sea necesario */
}

.imagen-derecha {
  width: 450px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-left: 20px; /* Espacio entre el texto y la imagen */
  border-radius: 50%; /* Aplica la forma de elipse */
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro de la elipse */
}

.imagen-centro {
  width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
  max-width: 600px; /* Ajusta el tamaño máximo de la imagen según sea necesario */
  height: auto;
}

.texto-contenedor {
  flex: 1; /* Permite que el contenedor de texto ocupe el espacio disponible */
  text-align: left;/* Alinea el texto a la izquierda */
}

.texto-centro-grande-negrita {
  font-size: 36px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold;
  text-align: center;
}
.texto-centro-normal {
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  text-align: center;
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
}

.texto-centrado {
  text-align: center;
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-images {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.carousel-image {
  width: 33.33%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen se ajuste bien dentro del contenedor */
}
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}
.carousel-dot.active {
  background-color: black;
}

.texto-grande {
  font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
  font-weight: bold;
  margin-bottom: 10px; /* Espacio entre el título y el párrafo */
  margin-left: 20px; /* Ajusta este valor para mover el texto más a la derecha */
}
.texto-ajustado {
  max-width: 70ch; /* Limita el ancho del párrafo a 70 caracteres */
  margin: 0; /* Alinea el párrafo a la izquierda */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  margin-left: 20px; /* Ajusta este valor para mover el texto más a la derecha */
}

.lista-izquierda, .lista-derecha {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px; /* Espacio entre la imagen y las listas */
}

.bold-pointer {
  font-weight: bold;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  padding: 5px 10px; /* Asegura que todos los enlaces tengan el mismo padding */
  line-height: normal; /* Asegura que todos los enlaces tengan la misma altura de línea */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e9ebe0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 4, 236);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* filepath: /Users/piedadgarciarobledo/Documents/P_Ominova/Code/ominova/src/App.css */
.icon-blue {
  color: blue; /* Cambia el color del icono a azul */
}


.grey-box {
  background-color: rgb(242, 236, 236); /* Color de fondo gris */
  color: rgba(1, 0, 2, 0.453); /* Color del texto */
  padding: 15px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  margin: 10px 0; /* Espacio externo */
}

.blue-box {
  background-color: rgb(75, 120, 219);
  color: white;
  padding: 3px 1px; /* Ajusta el padding para reducir la altura */
  border-radius: 5px;
  text-decoration: none; /* Para eliminar el subrayado del enlace */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  line-height: 1; /* Ajusta la altura de la línea para centrar el texto */
}

.blue-box:hover {
  background-color: darkblue; /* Cambia el color de fondo al pasar el ratón por encima */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.info {
  flex: 10%;
}

.navmenu {
  flex:10%; /* Ajusta este valor para asignar más o menos espacio */
  padding: 1px; /* Ajusta el padding según sea necesario */
  /* Puedes añadir más estilos aquí según sea necesario */
  height: 0.001vh;
}

.home {
  flex:10%;
}

.contactanos-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre el botón y el texto */
}

.texto-verde {
  color: rgb(10, 58, 36);
}


.imagenes-lado-a-lado {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px; /* Ajusta el tamaño según sea necesario */
  gap: 10px; /* Espacio entre las imágenes */
  display: flex;
  margin-left: 40px; /* Ajusta este valor para mover las imágenes más a la derecha */
  position: relative;
}


.texto-normal {
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  max-width: 70ch; /* Limita el ancho del párrafo a 70 caracteres */
  margin-left: 20px; /* Ajusta este valor para mover el texto más a la derecha */
  margin-top: -10px; /* Ajusta este valor para mover el texto más arriba */
}



.imagenes-casos-exito {
  display: flex;
  gap: 10px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  margin-top: 20px; /* Espacio superior */
}

.imagen-casos-exito {
  display: block;
  margin: 20px auto; /* Centra la imagen horizontalmente */
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}



.texto-e-imagenes {
  display: flex;
  align-items: flex-start;
}


.contactanos-button:hover {
  background-color: darkblue;
}

.micomponente {
  flex: 1;
}

.portada {
  flex:40%;
}

.mi3Componente {
  flex: 10%;
}





.micomponente-container {
 display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%; /* Asegura que el contenedor ocupe todo el espacio asignado */
  overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del contenedor */
}

.imagen-ejemplo {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  max-height: 100%; /* Asegura que la imagen no exceda la altura del contenedor */
}

.elipse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; /* Ajusta el tamaño según sea necesario */
  height: 400px; /* Ajusta el tamaño según sea necesario */
  background-color: #f0f0f0; /* Color de fondo de la elipse */
  border-radius: 50% / 25%; /* Crea la forma de elipse */
  overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del contenedor */
  transform: rotate(-5deg); /* Ajusta el ángulo de rotación según sea necesario */
}

.elipse-container img { /*Asegura que la imagen se ajuste al contenedor elíptico*/
  width: 100%;
  height: 100%;
}

.circunferencia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #f0f0f0;
  border-radius: 50%;
  overflow: hidden;
}

.circunferencia-container img {
  width: 100%;
  height: auto;
}