/* Estilos generales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilos específicos */
.mi3-componente {
  display: flex;
  margin: 70px 2px;;
}

.columna-izquierda {
  flex: 0 0 6%; /* Ajusta el tamaño de la columna izquierda según tus necesidades */
}

.columna-derecha {
  flex: 1;
  padding-left: 20px; /* Añade un poco de espacio a la izquierda si es necesario */
}


.texto-azul-centro {
  color: blue;
  text-align: center;
}

.botones-centro {
  display: flex;
  justify-content: center;

}

.contactanos-button {
  background-color: #221faf;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.nuestros-servicios {
  margin-top: 10px;
}

.texto-verde-container {
  color: green;
}

.texto-grande {
  font-size: 18px;
  margin-left: -500px;
  color: black; /* Asegúrate de que el color sea visible */
}

.texto-normal {
  font-size: 16px;
  font-weight: normal; /* Mantén el texto en letra normal */
  margin-left: -200px;
}

.texto-e-imagenes {
  display: flex;
  flex-direction: column;
}

.imagenes-lado-a-ladoo {
  display: flex;
  margin-left:  500px;
}

.imagen-contenedor1 {
  display: flex;
  flex-direction: column;
}


.imagen-contenedor2 {
  display: flex;
  flex-direction: row;
}
.imagen-grande {
  width: 100%;
  height: auto;
}

.imagen-centro1 {
  width: 120px; /* Ajusta el tamaño de las imágenes según tus necesidades */
  height: auto;
  padding: 1; /* Aplica el padding según tus necesidades */
}

.imagen-lado-a-lado1 {
  width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
  height: auto;
  padding: 1px; /* Aplica el padding según tus necesidades */
}


.imagen-lado-a-lado {
  width: 50px; /* Ajusta el tamaño de las imágenes según tus necesidades */
  height: auto;
  padding: 1px; /* Aplica el padding según tus necesidades */
}

.conoce-mas {
  font-weight: bold;
}

.empresas-colaboradoras {
  font-weight: bold;
}

.casos-de-exito {
  font-weight: bold;
}

.texto-una-linea {
  white-space: nowrap;
}

.descubre-casos-exito {
  font-weight: bold;
  margin-left: -480px;
}

.botones-navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-circular {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}

.imagenes-casos-exito {
  display: flex;
  justify-content: flex-start; /* Alinea las imágenes a la izquierda */
  align-items: center;
  margin-left: -500px; /* Ajusta este valor para moverlas más o menos a la izquierda */display: flex;
}

.imagen-casos-exito {
  width: 25%;
  height: auto;
  margin: 0 10px;
}

.enfocamos-objetivos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-objetivo-grande {
  width: 50%;
  height: auto;
  margin-bottom: 3em;
  margin-left: -500px; /* Ajusta este valor para mover la imagen más o menos a la izquierda */

}

.puntos-navegacion {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  gap: 10px; /* Ajusta el espacio entre los puntos según sea necesario */
}

.punto {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.punto.activo {
  background-color: black;
}
.imagen-pequena {
  width: 50%; /* Ajusta el tamaño según tus necesidades */
  height: 50%;
}


.elipse {
  border-radius: 50% / 25%; /* Esto crea una elipse */
  transform: rotate(45deg); /* Rota la elipse 45 grados */
}


.yellow-box {
  background-color: rgba(238, 215, 139, 0.962); /* Color de fondo gris */
  color: rgba(18, 17, 11, 0.453); /* Color del texto */
  padding: 15px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  margin: 10px 0; /* Espacio externo */
}

.grey-box {
  background-color: #f0f0f0; /* Color de fondo gris */
  border-radius: 5px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  margin: 10px 0; /* Margen superior e inferior */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}


.blue-box {
  background-color: rgb(75, 120, 219);
  color: white;
  padding: 3px 1px; /* Ajusta el padding para reducir la altura */
  border-radius: 5px;
  text-decoration: none; /* Para eliminar el subrayado del enlace */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  line-height: 1; /* Ajusta la altura de la línea para centrar el texto */
}

.white-box {
  background-color: rgb(247, 248, 249);
  color: rgb(16, 1, 1);
  padding: 3px 1px; /* Ajusta el padding para reducir la altura */
  border-radius: 5px;
  text-decoration: none; /* Para eliminar el subrayado del enlace */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  line-height: 1; /* Ajusta la altura de la línea para centrar el texto */
}

.blue-box:hover {
  background-color: darkblue; /* Cambia el color de fondo al pasar el ratón por encima */
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.info {
  flex: 10%;
}

.iconitosClasicos{
  flex: 1%;
}

.icon-blue {
  color: blue; /* Cambia el color según sea necesario */
}


.navmenu {
  flex:10%; /* Ajusta este valor para asignar más o menos espacio */
  padding: 1px; /* Ajusta el padding según sea necesario */
  /* Puedes añadir más estilos aquí según sea necesario */
  height: 0.001vh;
}

.home {
  flex:10%;
}

.casosDeExito1 {
  display: 100%
 
}

.contactanos-button {
  background-color: blue;  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px; /* Espacio entre el botón y el texto */
}


  .texto-verde {
    max-width: 75ch; /* Establece el ancho máximo a 75 caracteres */
    text-align: left; /* Alinea el texto a la izquierda */
    margin: 0; /* Elimina el centrado horizontal */
    margin-top: 1em; /* Ajusta este valor según sea necesario para mover el texto más abajo */
}



.imagenes-lado-a-lado {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px; /* Ajusta el tamaño según sea necesario */
  gap: 10px; /* Espacio entre las imágenes */
  display: flex;
  margin-left: 40px; /* Ajusta este valor para mover las imágenes más a la derecha */
  position: relative;
}


.imagen-CasoDeExito1 img {
  height: 500px;
  width: 1500px;
  object-fit: contain;

  margin: 0 auto;
}

.imagen-CasosDeExito1 {

  display: block; /* Asegura que la imagen no tenga márgenes extra */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  padding: 0; /* Elimina padding */
  overflow: hidden; /* Asegura que no haya desbordamiento */
  object-fit: contain; /* Mantiene la proporción de la imagen */
}

.texto-normal {
  margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
  font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
  max-width: 70ch; /* Limita el ancho del párrafo a 70 caracteres */
  margin-left: -500px; /* Ajusta este valor para mover el texto más a la derecha */
  margin-top: -10px; /* Ajusta este valor para mover el texto más arriba */
}



.imagenes-casos-exito {
  display: flex;
  gap: 10px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  margin-top: 20px; /* Espacio superior */
}

.imagen-casos-exito {
  display: block;
  margin: 20px auto; /* Centra la imagen horizontalmente */
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
}
.imagen-casos-exito {
  width: 200px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin: 10px;
}

.imagenes-casos-exito {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.texto-e-imagenes {
  display: flex;
  align-items: flex-start;
}


.contactanos-button:hover {
  background-color: darkblue;
}

.micomponente {
  flex: 1;
}

.portada {
  flex:40%;
}

.mi3Componente {
  flex: 10%;
}





.micomponente-container {

  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  overflow:hidden;
}

.circunferencia-container {
  display: block;
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que se recorte dentro de la elipse */
}

.elipse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px; /* Ajusta el ancho de la elipse */
  height: 400px; /* Ajusta la altura de la elipse */
  border-radius: 50%; /* Hace que el contenedor sea una elipse */
  background-color: #f3f3f3; /* Color de fondo de la elipse */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
 
}



.micomponente-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: #f3f3f3;
  margin-top: 170px; /* Ajusta el valor según tus necesidades */
}

.texto-izquierda {
  max-width: 70ch; /* Ajusta el ancho máximo a 70 caracteres */
  text-align: left; /* Alinea el texto a la izquierda */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}
.imagen-pequena1 {
  width: 10%; /* Ajusta el tamaño según tus necesidades */
  height: auto;
}
.conoce-mas-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

.conoce-mas-container .imagen-pequena {
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}
.imagenes-dentro {
  display: flex;
  flex-direction: column; /* Alinea las imágenes en una columna */
  align-items: center; /* Centra las imágenes horizontalmente */
  margin-left: -50px; /* Ajusta el margen izquierdo según tus necesidades */
}

.imagenes-dentro img {
  margin-top: 10px; /* Ajusta el margen superior entre las imágenes según tus necesidades */
}

.imagenes-dentro {
  display: flex;
  flex-direction: column; /* Alinea las imágenes en una columna */
  align-items: center; /* Centra las imágenes horizontalmente */
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades */
}

.imagenes-dentro img {
  margin-top: 10px; /* Ajusta el margen superior entre las imágenes según tus necesidades */
}
.texto-e-imagen {
  display: flex;
  align-items: left;
}

.texto-e-imagen .texto-verde {
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
}

.texto-e-imagen cho {
  margin-left:170px; /* Ajusta el margen izquierdo según tus necesidades */
  width: 550px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-top: -2cm;
}

.imagen-lado-derecho {
  margin-left:170px; /* Ajusta el margen izquierdo según tus necesidades */
  width: 550px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-top: -2cm;
  margin-right:60px;
  display: block;
}
.imagen-contenedor {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.imagen-centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -80%);
  width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
}

.imagen-centro3 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-0%, -80%);
  width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-right: 10px; /* Ajusta el margen derecho según tus necesidades */
  margin-top: -40px;
}

.imagen-centro4 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-80%, -80%);
  width: 90px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: auto;
  margin-right: 30px; /* Ajusta el margen derecho según tus necesidades */
  margin-top: 40px;
}
.puntos-navegacion-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta según sea necesario */
  margin-left: -1400px;
}
.empresas-colaboradoras {
  font-weight: bold;
  margin-bottom: 900px; /* Añade un margen inferior de 30px */
}
.texto-centro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
  color: black; /* Ajusta el color según tus necesidades */
  margin-top: 80px; /* Ajusta el margen superior según tus necesidades */
}
.texto-centro-grande {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: bold;
  color: black; /* Ajusta el color según tus necesidades */
  margin-top: -20px; /* Ajusta el margen superior según tus necesidades */
  text-align: center; /* Asegura que el texto esté centrado */
}
.texto-centro-normal {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
  font-weight: normal;
  color: black; /* Ajusta el color según tus necesidades */
  margin-top: -30px; /* Ajusta el margen superior según tus necesidades */
  text-align: center; /* Asegura que el texto esté centrado */
}
.texto-izquierda-negrita {
  font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
  text-align: left;
  font-weight: bold;
  color: black; /* Ajusta el color según tus necesidades */
  margin-top: 90px; /* Ajusta el margen superior según tus necesidades */
  margin-left: 90px;
}
.imagen-pablito {
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  margin-left: 50px; /* Ajusta la posición horizontal */
  text-align: left; /* Asegura que esté alineada a la izquierda */
}

.imagen-pablito img {
  width: 400px; /* Ajusta el tamaño de la imagen */
  height: 350px; /* Ajusta el tamaño de la imagen */
  border-radius: 70%; /* Hace que el contorno sea una elipse */
  border: 2px solid black; /* Añade un contorno negro */
}
.contenedor-imagen-texto {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  margin-left: 40px; /* Ajusta la posición horizontal del contenedor */
}
.texto-hablamos {
  margin-left: 100px; /* Ajusta este valor para aumentar o reducir la separación */
  font-size: 15px; /* Ajusta el tamaño de la fuente */
  font-weight: bold; /* Aplica negrita al texto */
  color: black; /* Ajusta el color del texto */
  margin-top: -100px; /* Ajusta el margen superior según sea necesario */
}
.texto-secundario {
  font-size: 30px; /* Cambia el tamaño de la fuente a grande */
  font-weight: bold; /* Mantén el texto en letra normal */
  color: black; /* Ajusta el color del texto */
  margin-top: 5px; /* Espacio entre el texto principal y el secundario */
}
.imagen-derecha {
  width: 100px; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  border-radius: 5px; /* Opcional: redondea las esquinas */
  margin-top: 20px; /* Ajusta el margen superior si es necesario */
}
.texto-contenedor {
  margin-top: 200px; /* Ajusta este valor para mover el texto más abajo */
  



}
.imagen-oficina {
  margin-top: 30px; /* Espacio entre "OMINOVA" y la imagen */
  margin-left: 10px; /* Alinea la imagen a la izquierda */
}

.imagen-oficina img {
  width: 400px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  border-radius: 5px; /* Opcional: redondea las esquinas */
}
.texto-equipo {
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: -500px; /* Ajusta el margen izquierdo si es necesario */
  color: black; /* Ajusta el color del texto */
  font-weight: bold; /* Aplica negrita al texto */
}
.texto-normal1 {
  font-size: 16px;
  font-weight: normal; /* Mantén el texto en letra normal */
  margin-left: 0px;
}
.caja-texto {
  background-color: #add8e6; /* Color celeste */
  padding: 5px 3px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  margin-left: -90px; /* Espacio entre la imagen y la caja */
  margin-top: -100px;
  font-size: 16px; /* Tamaño de la fuente */
  font-weight: bold; /* Texto en negrita */
  color: black; /* Color del texto */
  display: flex;
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  height: auto; /* Ajusta automáticamente según el contenido */
  min-height: 30px; /* Establece una altura mínima */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.ptexto-azul {
  color: blue;
}
.texto-grande1 {
  font-size: 24px;
  margin-left: 90px;
  color: black; /* Asegúrate de que el color sea visible */
}
.texto-contenedor1 {
  margin-top: 200px; /* Ajusta este valor para mover el texto más abajo */
  margin-left: 50px; /* Mueve el texto más a la derecha */
  max-width: 70ch; /* Limita las líneas a un máximo de 70 caracteres */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */



}
.texto-ajustado {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  margin-left: 60px; /* Mueve el texto un poco más a la izquierda */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}
.texto-izquierda-negrita1 {
  font-size: 20px; /* Ajusta el tamaño de la fuente según tus necesidades */
  text-align: left;
  font-weight: bold;
  color: black; /* Ajusta el color según tus necesidades */
  margin-top: 90px; /* Ajusta el margen superior según tus necesidades */
  margin-left: 55px;
}
.imagen-arcos-container {
  position: absolute; /* Permite posicionar la imagen de forma independiente */
  top: 120px; /* Ajusta la posición vertical */
  right: 60px; /* Ajusta la posición horizontal */
}

.imagen-arcos {
  width: 500px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
}
.texto-contactanos,
.texto-compromiso {
  font-weight: bold; /* Aplica negrita a ambos textos */
}


.texto-separado {
  display: flex; /* Alinea los elementos en una línea */
  justify-content: flex-start; /* Alinea los textos a la izquierda */
  gap: 25px; /* Espaciado entre los textos */
  font-size: 16px; /* Ajusta el tamaño del texto */
  color: black; /* Asegúrate de que el color sea visible */
  margin-left: 60px; /* Mueve los textos hacia la derecha */
}
.texto-centro-grande-negrita {
  font-size: 30px; /* Tamaño grande del texto */
  font-weight: bold; /* Negrita */
  text-align: center; /* Centra el texto horizontalmente */
  position: absolute; /* Permite centrar el texto verticalmente */
  top: 70%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el texto al centro exacto */
  color: black; /* Asegúrate de que el color sea visible */

}
.texto-centro-normal1 {
  font-size: 16px; /* Tamaño normal del texto */
  font-weight: normal; /* Texto sin negrita */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 160px; /* Espacio entre los dos textos */
  color: black; /* Asegúrate de que el color sea visible */
 
}
.lista-izquierda,
.lista-derecha {
  margin-top: 100px; /* Ajusta este valor para mover la lista más abajo */

}
.lista-izquierda p {
  margin-bottom: 30px; /* Ajusta este valor para aumentar o reducir el espacio */
  margin-left: 110px;   
}
.texto-negrita {
  font-weight: bold; /* Aplica negrita al texto */
}
.texto-seleccionado {
  color: blue; /* Cambia el color del texto a azul */
  font-weight: bold; /* Mantén el texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
}
.texto-independiente {
  text-align: right; /* Mueve el texto a la derecha */
  margin-top: 100px; /* Ajusta el margen superior */
  font-size: 14px; /* Ajusta el tamaño del texto */
  font-weight: bold; /* Aplica negrita al texto */
  color: black; /* Asegúrate de que el color sea visible */
  margin-left: 700px;
  margin-right: 345px;
}
.texto-derecha {
  text-align: right; /* Alinea el texto a la derecha */
  margin-right: -0px; /* Ajusta este valor para mover el texto más a la derecha */
  font-size: 16px; /* Ajusta el tamaño del texto si es necesario */
  color: black; /* Asegúrate de que el color sea visible */
} 
.texto-grande-negrita-derecha {
  text-align: left; /* Alinea el texto a la derecha */
  font-size: 24px; /* Ajusta el tamaño del texto para hacerlo grande */
  font-weight: bold; /* Aplica negrita */
  color: black; /* Asegúrate de que el color sea visible */
  margin-top: 15px; /* Espaciado entre "Ayudar a los demás" y este texto */
  max-width: 34ch; /* Limita las líneas a 34 caracteres */
  line-height: 1; /* Ajusta el espaciado entre líneas */
  margin-left: 865px;

}
.texto-normal-derecha {
  text-align: left; /* Alinea el texto a la derecha */
  font-size: 16px; /* Tamaño normal para el texto */
  color: black; /* Asegúrate de que el color sea visible */
  margin-right: -150px; /* Ajusta el margen derecho según sea necesario */
  margin-top: 10px; /* Espaciado entre los dos textos */
  max-width: 34ch; /* Limita las líneas a 34 caracteres */
  line-height: 1.5; /* Espaciado entre líneas */
  margin-left:0870px;
  max-width: 52ch; /* Limita las líneas a un máximo de 50 caracteres */
  line-height: 1.5; /* Espaciado entre líneas */
}
.video-container {
  text-align: center; /* Centra el video horizontalmente */
  margin: 20px 0; /* Añade espacio arriba y abajo del video */
  margin-top: -250px; /* Reduce el margen superior para mover el video hacia arriba */
}

video {
  max-width: 300px; /* Ajusta el ancho del video */
  height: 500px; /* Aumenta la altura del video */
  object-fit: cover; /* Ajusta cómo se escala el contenido del video */
}
.texto-negrita1 {
  font-weight: bold; /* Aplica negrita */
  text-align: right; /* Alinea el texto a la derecha */
  font-size: 16px; /* Ajusta el tamaño del texto */
  margin-bottom: 10px; /* Espaciado entre "Ayudar a los demás" y el siguiente texto */
  color: black; /* Asegúrate de que el color sea visible */
  margin-top: -500px;
  margin-right: 330px;
}
.texto-grande2 {
  font-size: 30px; /* Asegúrate de que el tamaño sea visible */
  font-weight: bold; /* Aplica negrita */
  color: black; /* Asegúrate de que el color sea visible */
  text-align: center; /* Centra el texto horizontalmente */
  margin-top: 400px; /* Ajusta el margen superior */
  margin-left: -830px;
}
.texto-ajustado1 {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  margin-left: 110px; /* Mueve el texto más a la derecha */
  max-width: 80ch; /* Limita las líneas a un máximo de 80 caracteres */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin-top: -15px;
}
.texto-centrado {
  display: flex; /* Alinea el texto y el botón en una fila */
  justify-content: space-between; /* Coloca el texto a la izquierda y el botón a la derecha */
  align-items: center; /* Asegura que estén alineados verticalmente */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 110px; /* Mueve el texto más hacia la derecha */
  font-size: 18px; /* Ajusta el tamaño del texto si es necesario */
  font-weight: bold; /* Mantén el texto en negrita */
  color: black; /* Asegúrate de que el color sea visible */
  margin-top: 30px;
  margin-bottom: -20px; /* Reduce el margen inferior */
  max-width: 70ch; /* Limita el ancho del texto */
}

.imagen-lado {
  margin-top: 150px; /* Ajusta este valor para bajar la imagen */
  display: block; /* Asegúrate de que la imagen se comporte como un bloque */
  max-width: 100%; /* Asegúrate de que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantén la proporción de la imagen */
}
.texto-normal2 {
  font-size: 16px; /* Tamaño del texto */
  font-weight: normal; /* Mantén el texto en letra normal */
  margin-left: 110px; /* Mueve el texto más hacia la derecha */
  max-width: 70ch; /* Limita el ancho del párrafo a 70 caracteres */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  margin-top: 40px;
}
.texto-centrado.valores {
  margin-top: 30px; /* Ajusta este valor para mover "Valores" más abajo */
}
.texto-normal3 {

  margin-top: 20px; /* Reduce este valor para mover el texto más arriba */
  margin-left: 110px; /* Mueve el texto más hacia la derecha */
  max-width: 70ch; /* Limita el ancho del párrafo a 70 caracteres */
}
.boton-toggle {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto; /* Espaciado entre el texto y el botón */
  color: black; /* Asegúrate de que el color sea visible */
}
.imagen-lado1 {
  float: right; /* Coloca la imagen a la derecha */
  position: relative; /* Permite ajustar la posición con left */
  left: -50px; /* Mueve la imagen más a la izquierda */
  margin-top: -190px; /* Ajusta el margen superior */
  max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantén la proporción de la imagen */
  border: 1px solid black; /* Añade un borde alrededor de la imagen */
  border-radius: 50%; /* Crea un contorno elíptico recto */
}
.video-texto-contenedor {
  margin-top: 200px; /* Ajusta este valor para mover todo el contenedor más abajo */
  margin-left: 110px; /* Mueve todo el contenedor más a la derecha */
}
.texto-2023-actualidad {
  position: relative; /* Permite ajustar la posición con left */
  margin-top: -460px; /* Mantén este valor si ya está ajustado */
  left: -320px; /* Mueve el texto más a la izquierda */
  font-weight: bold; /* Aplica negrita al texto */

}
.texto-presente {
  position: relative; /* Permite ajustar la posición con left */
  left: -178px; /* Mueve el texto un poco a la izquierda */
  font-weight: bold; /* Aplica negrita al texto */
}
.texto-futuro {
  position: relative; /* Permite ajustar la posición con left */
  left: -508px; /* Mueve el texto un poco a la izquierda */
  font-weight: bold; /* Aplica negrita al texto */
}
.texto-inicios {
  position: relative; /* Permite ajustar la posición */
  top: -550px; /* Mueve el texto hacia arriba */
  font-size: 20px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  color: black; /* Asegúrate de que el color sea visible */
  left: -505px; /* Mueve el texto un poco a la izquierda */
  margin-top: 60px; /* Espacio entre "Inicios" y este texto */
  margin-bottom: 25px;
}
.texto-normal4 {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  margin-top: -100px; /* Espacio entre "Inicios" y este texto */
  position: relative; /* Permite ajustar la posición */
  left: 568px; /* Alinea con "Inicios" */
  top: -460px; /* Mueve el texto hacia arriba */
  max-width: 63ch; /* Limita las líneas a un máximo de 70 caracteres */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin-left: 100px;

}
.texto-normal5 {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  max-width: 63ch; /* Limita las líneas a un máximo de 70 caracteres */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 10px; /* Espacio inferior */
  margin-left: 670px;
}
.texto-normal-espaciado {
  font-size: 16px; /* Tamaño del texto */
  line-height: 1.5; /* Espaciado entre líneas */
  color: black; /* Asegúrate de que el color sea visible */
  max-width: 63ch; /* Limita las líneas a un máximo de 70 caracteres */
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 10px; /* Espacio inferior */
  margin-left: 670px;
}
.texto-azul-scroll {
  color: blue; /* Cambia el color del texto a azul */
  transition: color 0.3s ease-in-out; /* Transición suave */
}
.video-centro {
  width: 100%; /* Aumenta el ancho del video al 100% del contenedor */
  max-width: 570px; /* Establece un ancho máximo para evitar que sea demasiado grande */
  height: 470px; /* Mantén la proporción del video */
  display: block; /* Asegura que el video se comporte como un bloque */
  margin: 0 auto; /* Centra el video horizontalmente */
  margin-left: 5px;
}
.carousel {
  text-align: center;
  margin-top: 100px;
}

.carousel-images {
  display: flex;
  justify-content: center; /* Centra las imágenes horizontalmente */
  gap: 10px; /* Espaciado entre las imágenes */
  overflow: hidden; /* Oculta las imágenes que no están visibles */
}

.carousel-image {
  width: 320px; /* Ajusta el tamaño de las imágenes */
  height: auto; /* Mantén la proporción de las imágenes */
  object-fit: cover; /* Asegura que las imágenes se ajusten correctamente */
  border-radius: 5px; /* Bordes redondeados opcionales */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
}

.carousel-dots {
  display: flex;
  justify-content: center; /* Centra los puntos horizontalmente */
  gap: 5px; /* Espaciado entre los puntos */
  margin-top: 40px;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: blue; /* Cambia el color del punto activo */
}
.texto-azul1 {
  color: blue; /* Cambia el color del texto a azul */
  font-weight: bold; /* Opcional: Mantén el texto en negrita */
  transition: color 0.3s ease-in-out; /* Transición suave para el cambio de color */
}
.texto-derecha-contenedor {
  position: relative; /* Contenedor relativo para posicionar la línea */
  display: flex;
}

elipse-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Ajusta el ancho de la elipse */
  height: 300px; /* Ajusta la altura de la elipse */
  border-radius: 50%; /* Hace que el contenedor sea una elipse */
  background-color: #f3f3f3; /* Color de fondo de la elipse */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  margin-left: 20px; /* Añade espacio entre el texto y la imagen */
}

.elipse-container img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que se recorte dentro de la elipse */
}

.elipse-button {
  width: 90px; /* Ancho del botón */
  height: 30px; /* Altura del botón */
  border-radius: 25px; /* Hace que el botón tenga forma de elipse */
  background-color: #7891ac; /* Color de fondo */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  font-size: 16px; /* Tamaño del texto */
  font-family: Arial, sans-serif; /* Fuente del texto */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Animación para el cambio de color */
}

.elipse-button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor */
}

.circunferenciaPortada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Ajusta el tamaño de la circunferencia */
  height: 400px; /* Ajusta el tamaño de la circunferencia */
  border-radius: 50%; /* Hace que el contenedor sea circular */
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  background-color: #f3f3f3; /* Color de fondo opcional */
  animation: girar 5s linear infinite; /* Aplica la animación de rotación */
}


.imagenPortada-circular {
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para que se recorte dentro del contenedor */
}

@keyframes girar {
  from {
      transform: rotateY(0deg); /* Comienza sin rotación */
  }
  to {
      transform: rotateY(360deg); /* Gira completamente en el eje Y */
  }
}
/* Estilo base para los círculos de InicioAgenda */
.texto-equipo::before {
  content: '';
  display: inline-block;
  width: 10px; /* Tamaño del círculo */
  height: 10px; /* Tamaño del círculo */
  border-radius: 50%; /* Hace que el elemento sea circular */
  margin-right: 10px; /* Espacio entre el círculo y el texto */
  vertical-align: middle; /* Alinea el círculo con el texto */
}

/* Colores específicos para cada fila de InicioAgenda*/
.equipo::before {
  background-color: red; /* Color para "Nuestro equipo" */
}

.procesos::before {
  background-color: blue; /* Color para "Nuestros procesos" */
}

.clientes::before {
  background-color: green; /* Color para "Nuestros clientes" */
}